.TaxCalculation{
  padding-left: 32px;
  width: 100%;
  max-width: 488px;
}

.TaxCalculation__input{
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 65px;
  padding-left: 5px ;
  border: 1px solid #DFE3E6;

}
.input__erorr{
  color: red;
}

.input__wrapper{
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  max-width: 448px;
  height: 40px;

}

.input{
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  max-width: 448px;
  height: 40px;
}

.TaxCalculation__input:hover{
  border: solid 1px;
}

.TaxCalculation__button {
  outline: none; 
  border: 0;
  background: transparent;
  margin: 8px 0px 8px -5px;
  display: inline-block;
  color: #EA0029;
  cursor: pointer;
}

