@import url(/src/components/Button/Button.css);
@import url(/src/components/TaxCalculation/TaxCalculation.css);
@import url(/src/components/TaxDeductionScreen/TaxDeductionScreen.css);
@import url(/src/components/TaxHeader/TaxHeader.css);
@import url(/src/components/TaxPayment/TaxPayment.css);
@import url(/src/components/TaxTags/TaxTags.css);
@import url(/src/fonts/style.css);
@import url(/src/components/TaxPayment/CheckBox/CheckBox.css);

@media (max-width: 1440px){
	.tax{ 
		width: 552px;
	}
  .button__wrapper__Tax{
    max-width: 488px;
  }
}
@media (max-width: 768px){
	.tax{
		width: 453px;
	}
  .button__wrapper__Tax{
    width: 389px;
  }
  .TaxCalculation{
    padding-right: 32px;
  }
}
@media (max-width: 450px){
	.tax{
		max-width: 320px;
    border-radius: 0px;
	}
  .button__wrapper__Tax{
    max-width: 288px;
  }
  .TaxTags{
    display: grid; 
  }
  .TaxTags__tag__container{
    display: flex;
    margin-top: 28px;
  }
 
}

.App {
  margin: 20px auto;
  align-items: center;
  display: flex;
  font-family: 'Lab Grotesque';
  font-size: 14px;
  line-height: 24px;
}
